@import "tailwindcss";
@plugin "daisyui" {
    exclude: rootscrollgutter, scrollbar;
}

img:not(.has-event) {
    pointer-events: none;
}

*:not(.selectable) {
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}
